body{
  font-family: 'Open Sans', arial, sans-serif;
  
}
a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: #08a0e9;
}

*{
    margin:  0;
    padding: 0;
}
.block1{
    background-image: url(background.jpg);
    background-size: cover;
    height: 650px;
    
}
nav h2{
    display: inline-block;
    font-size: 170%;
	color: #ffffff;
    margin-top: 10px; 
    margin-left: 10px;  
}
nav ul{
    display: inline-block;
    margin-left: 260px;
    
}
nav li{
    display: inline-block;
    padding-left: 25px;
    font-size: large;
    
}

    .introform {
        display: none;
        position: fixed;
        z-index: 1;
        left: 30%;
        top: 20%;
        height: 300px;
        width:600px;
        background-image :linear-gradient( 150deg, rgba(0, 0, 0, 0.65), transparent);
        border: #bda27e solid 12px;
        background-color: #333;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.5em;
        color: rgba(238, 238, 238, 0.7);
        padding-top: 20px;
    }

.introformcontent input{
    margin-top: 20px;
    background: none;
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: rgba(238, 238, 238, 0.8);
    outline: none;
}
.introform button{
    margin-top: 30px;
    margin-left: 250px;
  
}
.close1 {
    
    color:rgb(179, 179, 179);
    font-size: 40px;
    font-weight: bold;
}
.close1:hover, .close1:focus {
		color: red;
		cursor: pointer;
	}
	
	

.Personame{
     position: relative;  
     height:250px;
     width: 450px;
     margin-top: 160px;
     margin-left:350px;
}
#name{
    color: #69ffe9;
    text-align: center;
    padding-top:60px ;
    font-size:30px;
    font-family: 'Permanent Marker', cursive;
}
#designation{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    
}
.Personpic{
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 210px ;
    margin-top: -250px;
    margin-left: 900px;
}
.pic{
    height: 210px;
    width: 210px;
    border-radius: 210px;
}



/* CSS FOR BLOCK 2  ABOUT USER*/

.block2{
    background-color: #331f3b;
    height: 480px;
    
}
.block2 h2{
    margin-left:230px;
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

.aboutForm{
    display:none;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 20%;
    height: 400px;
    width:400px;
    background-image :linear-gradient( 150deg, rgba(0, 0, 0, 0.65), transparent);
    border: #bda27e solid 12px;
    background-color: #333;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    color: rgba(238, 238, 238, 0.7);
}

.close2 {
    margin-left: 370px;
    color:rgb(179, 179, 179);
    font-size: 40px;
    font-weight: bold;
}
.close2:hover,.close2:focus {
		color: red;
		cursor: pointer;
	}
   
.aboutFormContent textarea{
    height: 180px;
	font-size: 1.4em;
	line-height: 1em;
    margin-top: 20px;
    background: none;
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: rgba(238, 238, 238, 0.8);
    outline: none;
}	
.aboutForm button{
  margin-top: 100px;
  margin-left: 150px;
}
	


.aboutUser{
 margin-top:0px;
 margin-left: 80px;
 border-radius: 15px;
 display: inline-block;
 height:200px;
 width: 540px;
}

#userAbout
